.back-diagonal{
    background-image: url('../img/diagonal-back.png');
    background-position: 0% 0%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    height: 268px;
    z-index: 0;
    width: 100%;
    top: 0;
}
.the-error{
    width: 100%;
    float: left;
    position: relative;
    margin: 50px 0 0 0;
}