.pgto{
	width:100%;
	float: left;
	text-align: center;
}
.pgto h1{
	font-size:50px;
}
.pgto h2{
	margin-top:0;
	font-size:28px;
}
.pgto h3{
	font-size:21px;
	font-family:'gadugi_regular';
	margin-top:0;
	border-top:1px solid #739c6c;
	display:inline-block;
	padding:0 15px;
}
.pgto .box{
	margin-top: 40px;
	padding:20px 50px 50px;
}
.pgto .box img{
	width:150px;
}
.pgto .box h4{
	font-size: 25px;
}
.formulario{
	width:100%;
	float: left;
}
.titleForm{
	background-color:#ededed;
	border-top:1px solid #454545;
	text-align: center;
	padding-bottom:50px;
}
.titleForm h3{
	margin-top:0;
	border-bottom:1px solid #739c6c;
	display: inline-block;
	padding:0 40px 20px;
}
.form-odd{
	background-color:#ededed;
	padding:30px 0 10px;
}
.form-even{
	padding:30px 0 10px;
	border-top:1px solid #454545;
	border-bottom:1px solid #454545;
}
.form-odd .col-sm-6{
	padding:0 30px 0;
}
.form-even .col-sm-6{
	padding:0 0 0 30px;
}
.box-green{
	background-color:#739c6c;
	color:#fff;
	padding-bottom:25px;
	width:100%;
	float:left;
	padding-top:25px;
}
.box-green h2{
    margin-bottom: 0;
	text-align: center;
}
.box-green h3{
    margin: 5px auto 0;
    font-size: 17px;
    display: table;
    padding:0 90px 20px;
    border-bottom:1px solid #fff;
}
.box-green  input{
	border-color:transparent;
}
.msg-abaixo-botao{
	text-align: center;
}

/* Form */
.obs{
	font-size:13px;
}
.pergunta{
	margin-bottom:5px;
}
.resposta{
	margin-left:10px;
}

form{
	font-family: 'gadugi_bold';
}
form span{
	font-family: 'gadugi_regular';
	margin-bottom: 5px;
}
input,
textarea{
	color:#595959;
	padding:5px 5px 5px 10px;
	border-width:1px;
	border-color:#1a1a1a;
}
input[type=text],
input[type=email],
textarea{
	width:100%;
	max-width:100%;
}
input:focus{
	-webkit-box-shadow: inner 0 0 5px #000;
	box-shadow: inset 0 0 10px rgba(115, 156, 108, 0.81);
}
input.campo-menor{
	width:50px;
}
span.wpcf7-list-item{
	width:100%;
	display: block;
}
.box-green  input.wpcf7-not-valid{
	border-color:red;
}
.wpcf7-not-valid{
	border-color:red;
}
.wpcf7-not-valid-tip{
	display: none !important;
}
div.wpcf7-validation-errors{
	background:#739c6c;
	margin:0;
	border-color:red;
	text-align:center;
	color:#fff;
	text-shadow:0 0 3px rgba(255, 0, 0, 0.53);
	padding-bottom:15px;
	border-left:none;
	border-right:none;
}
div.wpcf7-mail-sent-ok{
	background:#739c6c;
	margin:0;
	border-color:#2fea0f;
	text-align:center;
	color:#fff;
	text-shadow:0 0 3px #739c6c;
	padding-bottom:15px;
	border-left:none;
	border-right:none;
}
div.wpcf7 img.ajax-loader{
    display: inline-block !important;
	width:40px;
	-webkit-animation: load ease .5s infinite;
	-o-animation: load ease .5s infinite;
	animation: load ease .5s infinite;

}
@keyframes load{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

input[type=submit]{
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    color: #7e291d;
    font-size: 17px;
    margin: 15px auto 0;
    border: 1px solid #739c6c;
    padding: 13px 30px;
    overflow: hidden;
    position: relative;
    display:inline-block;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}
form .botao{
	text-align: center;
}


/* Página Pagamento */
.title-pers{
	margin-bottom: 20px;
}
.box-subtitle{
	width:100%;
	float: left;
	background-color:#739c6c;
	padding:20px 0;
}
.box-subtitle h2{
	text-align: center;
    font-size: 21px;
    color:#fff;
	margin-bottom: 20px;
	font-family:'gadugi_regular';
}
.title-form{
	width: 100%;
	text-align: center;
}
.form-pgto h3{
	border-bottom:1px solid #1a1a1a;
	display: inline-block;
    padding-bottom: 5px;
    margin-top: 0;
}
.form-pgto .row > div {
	margin: 50px 0;
}
.border-right{
	border-right:1px solid #1a1a1a;
}
.form-pgto .box-green{
	border-radius: 5px;
	padding:30px;
    box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.3);
}
.form-pgto .box-green h3{
	font-family: 'gadugi_regular';
    text-align: center;
    border-color: #fff;
    padding: 0 0 20px 0;
    margin-bottom: 20px;
    font-size: 20px;
}
.form-pgto .box-green p{
	font-family: 'gadugi_regular';
}
.form-pgto .box-green .title-green{
	width:100%;
	text-align: center;
}
.form-pgto .row > div.col-button{
	margin-top: 0;
}
.col-button .botao{
	text-align: center;
}
.col-button .botao a{
	font-size: 23px;
}


@media (max-width: 991px){
	.pgto .box{
		padding-left:0;
		padding-right:0;
	}
}
@media (max-width: 768px){
	.form-odd{
		text-align: center;
	}
	.form-even{
		text-align: center;
	}
	span.wpcf7-list-item{
		margin-left: 0;
	}
	.resposta{
		margin-left: 0;
	}
	.form-even .col-sm-6{
		padding-left:15px;
		padding-right:15px;
	}
	.box-green{
		text-align: center;
	}
	.form-pgto .row > div{
	    margin: 20px 0;
	}
	.border-right{
		border-right:none;
	}
}