.blog-title,
.blog-title .page-name,
.blog-title .menu-blog{
    float: left;
    width: 100%;
    position: relative;
}
.blog-title{
    padding-top: 135px;
}
.blog-title .page-name h1{
    text-transform: uppercase;
    color: #18a6b8;
    margin: 0;
}
.blog-title .page-name span.blogui{
    text-transform: uppercase;
    color: #18a6b8;
    margin: 0;
    line-height: 1.1;
    font-size: 36px;
    font-family: 'panton-black';
}
.blog-title .menu-blog{
    background-color: #ebebeb;
}
.blog-title .menu-blog ul{
    float: left;
    width: 100%;
    padding: 0;
    margin-bottom: 0;
    position: relative;
}
.blog-title .menu-blog ul li.labely{
    position: relative;
    z-index: 10;
}
.blog-title .menu-blog ul li{
    list-style: none;
    float: left;
    position: relative;
    z-index: 0;
}
.blog-title .menu-blog ul li.labely span{
    -webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -ms-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    background-color: #555;
    -webkit-border-radius: 0;
    color: #fff!important;
    display: inline-block;
    border-color: #555;
    font-size: 12px;
    text-transform: uppercase;
    position: relative;
    line-height: 27px;
    padding: 7px;
    z-index: 10;
    transition: background .2s ease-in-out;
    border-radius: 0;
}
.blog-title .responsive-menu-blog{
    display: none;
}
.blog-title .menu-blog ul li.labely span:after,
.blog-title .menu-blog ul li.labely span:before{
    border-right-color: #555;
    border-left-color: #555;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    height: 41px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    position: absolute;
    content: '';
}
.blog-title .menu-blog ul li.labely span:after{
    border-bottom: 41px solid rgba(255,255,255,0);
    border-top: 0px solid rgba(255,255,255,0);
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    left: -25px!important;
    border-right-width: 25px;
    border-right-style: solid;
    top: 0;
}
.blog-title .menu-blog ul li.labely span:before{
    border-bottom: 0px solid rgba(255,255,255,0);
    border-top: 40px solid rgba(255,255,255,0);
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    right: -25px!important;
    border-left-style: solid;
    border-left-width: 25px;
    top: 0px;
    z-index: 10;
}
.blog-title .menu-blog ul li:nth-child(2) a{
    padding-left: 30px;
    margin-left: 0;
}
.blog-title .menu-blog ul li a{
    color: #555;
    text-transform: uppercase;
    margin: 0;
    padding: 12px;
    font-size: 12px;
    display: block;
    position: relative;
    z-index: 0;
}
.blog-title .menu-blog ul li a:hover{
    background-color: #18A6B8;
    color: #FFF;
}
.blog-title .menu-blog ul li.busca{
    position: absolute;
    top: 0;
    right: 0;
}
.searchbox-icon{
    position: relative;
    font-size:12px !important;
    text-transform:uppercase;
}
.searchbox-icon:after{
    border-bottom: 41px solid rgba(255,255,255,0);
    border-top: 0px solid rgba(255,255,255,0);
    left: -25px!important;
    border-right-width: 25px;
    border-right-style: solid;
    top: 0;
    border-right-color: #1d5366;
    border-left-color: #1d5366;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    height: 41px;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    position: absolute;
    content: '';
}
.searchbox-icon i{
    font-size: 20px;
}
.searchbox{
    position:relative;
    min-width:120px;
    width:0%;
    height:41px;
    float:right;
    overflow:hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    transition: width 0.3s;
}
.searchbox-input{
    top: 0;
    border: 0;
    outline: 0;
    background: rgb(229, 230, 230);
    width: 0;
    height: 41px;
    margin: 0;
    padding: 0px 95px 0px 0px;
    position: relative;
    left: 24px;
    z-index: 0;
    border: 1px solid #BBBABA;
    color: #666;
    visibility: hidden;
}
.searchbox.searchbox-open .searchbox-input{
    left: 0;
    padding: 8px;
    visibility: visible;
    display: block;
    width: 289px;
}
.searchbox.searchbox-open .searchbox-input:focus{
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.26);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.26);
    border: 1px solid #bcbbba;
}
.searchbox-input::-webkit-input-placeholder {
    color: #aaa;
    font-size: 12px;
    line-height: 20px;
}
.searchbox-input:-moz-placeholder {
    color: #aaa;
    font-size: 12px;
    line-height: 20px;
}
.searchbox-input::-moz-placeholder {
    color: #aaa;
    font-size: 12px;
    line-height: 20px;
}
.searchbox-input:-ms-input-placeholder {
    color: #aaa;
    font-size: 12px;
    line-height: 20px;
}
.searchbox-icon,
.searchbox-submit{
    height:41px;
    display:block;
    position:absolute;
    top:0;
    font-family:verdana;
    right:0;
    padding:0px 10px 0 0;
    margin:0;
    border:0;
    outline:0;
    line-height:35px;
    text-align:right;
    cursor:pointer;
    color:#FFF;
    background:#1d5366;
    width:95px;
}
.searchbox-open{
    width:100%;
}
.blog-title #breadcrumbs{
    padding-top: 15px;
}
/* POSTS */
.home-blog{
    float: left;
    width: 100%;
    position: relative;
    z-index: 9;
    padding-top: 30px;
}
.um-post{
    float: left;
    width: 100%;
    margin: 0 0 30px;
}
.um-post.maior .img-destak{
    background-position: 50% 50%;
}
.um-post .img-destak{
    -moz-background-size: cover;
    -o-background-size: cover;
    position:relative;
    height: 330px;
    background-position: 34% 0%;
    background-size: cover;
    z-index: 99;
    border-top: 6px solid #333;
}
.um-post .img-destak .overlayer{
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
    opacity: 0;
    position: absolute;
    height: 0%;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
}
.um-post .img-destak:hover .overlayer{
    height: 100%;
    opacity: 1;
}
.um-post .img-destak .categoria{
    position: absolute;
    right: 0;
}
.um-post .img-destak .categoria a:first-child{
    display: none;
}
.um-post .img-destak .categoria a{
    margin-left: 5px;
    border: 1px solid #333;
    background-color: #333;
    color: #FFF;
    padding: 8px;
    position: relative;
    display: block;
    float: left;
    top: 0px;
    text-transform: uppercase;;
}
.um-post .img-destak .categoria a:hover{
    background-color: #666;
}
.um-post .info-post{
    float: left;
    width: 100%;
    margin: 5px 0 20px;
}
.um-post .info-post h2{
    margin-top: 0;
}
.um-post .info-post h2 a{
    color: #18A6B8;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'panton-bold';
}
.um-post .info-post h2 a:hover{
    color: #1D5366;
}
.um-post .info-post p{
    color: #555;
}
/* NAVEGAÇÃO */
.navegacao{
    float: left;
    width: 100%;
    display: block;
}
.navegacao .wp-pagenavi{
    float: left;
    width: 100%;
}
.navegacao .pages{
    border: none;
    float: left;
    padding: 8px;
}
.navegacao .current{
    border-radius: 50%;
    float: left;
    font-weight: bold;
    padding: 5.5px 12px;
    border: 1px solid #19A6B8 !important;
    color: #646A6A;
    display: table;
}
.navegacao .current+a{
    display: table;
    padding: 5.5px 12px;
    border: 1px solid #19A6B8 !important;
    color: #646A6A;
    float: left;
    border-radius: 50%;
}
.navegacao .current+a:hover{
    background-color: rgb(24, 166, 184);
    color: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.navegacao a.nextpostslink{
    display: table;
    padding: 5.5px 12px;
    border: 1px solid #19A6B8 !important;
    color: #646A6A;
    float: left;
    border-radius: 50%;
}
.navegacao a.nextpostslink:hover{
    background-color: rgb(24, 166, 184);
    color: #FFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}


/* SINGLE BLOG */
.single-blog,
.single-blog .title,
.single-blog .dados-post{
    float: left;
    width: 100%;
}
.single-blog{
    padding-top: 40px;
}
.single-blog .title h1{
    margin-top: 0;
    font-family: 'panton-bold';
    font-size: 37px;
    color: #333;
    text-transform: uppercase;
}
.single-blog .dados-post{
    padding: 8px;
}
.single-blog .dados-post .authority{
    float: left;
}
.single-blog .dados-post .authority img{
    float: left;
    width: 40px;
    height: 40px;
    border: 1px solid #f7f7f7;
    border-radius: 50%;

}
.single-blog .dados-post .authority .name-author{
    font-family: 'panton-bold';
    text-transform: uppercase;
    float: left;
    padding: 10px 8px;
    color: #585858;
}
.single-blog .dados-post .authority .name-author:hover{
    color: #19A6B8;
}
.single-blog .dados-post .uma-cat{
    text-transform: uppercase;
    float: left;
    padding: 10px 8px;
}
.single-blog .dados-post .uma-cat a{
    font-family: 'panton-bold';
    color: #585858;
}
.single-blog .dados-post .uma-cat a:hover{
    color: #19A6B8;
}
.single-blog .dados-post time{
    color: #585858;
    font-family: 'panton-bold';
    text-transform: uppercase;
    float: left;
    padding: 10px 8px;
}
.single-blog .img-single{
    margin-top: 20px;
    -moz-background-size: cover;
    -o-background-size: cover;
    position:relative;
    height: 330px;
    width: 100%;
    float: left;
    background-position: 34% 0%;
    background-size: cover;
    z-index: 9;
    border-top: 6px solid #333;
}
.single-blog .img-single .categoria {
    position: absolute;
    right: 0;
}
.single-blog .img-single .categoria a{
    margin-left: 5px;
    border: 1px solid #333;
    background-color: #333;
    color: #FFF;
    padding: 8px;
    position: relative;
    display: block;
    float: left;
    top: 0px;
    text-transform: uppercase;
}
.single-blog .img-single .categoria a:hover{
    background-color: #666;
}
.single-blog .content{
    float: left;
    width: 100%;
    padding-top: 50px
}
.single-blog .content p,
.single-blog .content h2,
.single-blog .content h3,
.single-blog .content li{
    font-size: 16px;
    color: #555;
    line-height: 28px;
}
.single-blog .comentarios{
    float: left;
    width: 100%;
    padding-top: 50px;
}









/* SIDEBAR */
.sidebar,
.sidebar .item,
.sidebar .item .titulo{
    float: left;
    width: 100%;
}
.sidebar{
    overflow: hidden;
}
.sidebar .item{
    margin-bottom: 40px;
}
.sidebar .item .titulo h3{
    text-transform: uppercase;
    color: #18A6B8;
    position: relative;
    margin: 0 0 30px ;
    padding-bottom: 8px;
    font-size: 17px;
    border-bottom: 1px solid #555;
    font-family: 'panton-bold';
}
.sidebar .item .titulo h3:after{
    content: '';
    height: 3px;
    width: 100px;
    background-color: #555;
    position: absolute;
    top: 23px;
    left: 0;
}
.sidebar #mc_embed_signup form{
    padding: 0;
}
.sidebar #mc_embed_signup .mc-field-group{
    width: 100%;
    font-size: 16px;
}
.sidebar #mc_embed_signup .mc-field-group input{
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    padding: 11px;
    color: #666;
    line-height: 22px;
}
.sidebar #mc_embed_signup .mc-field-group input:focus{
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.26);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.26);
    border: 1px solid #bcbbba;
}
.sidebar .required.email.mce_inline_error{
    border: 1px solid #D20000 !important;
}
.sidebar .required.email.mce_inline_error:focus{
    -webkit-box-shadow: inset 0 0 10px rgba(107, 5, 5, 0.46) !important;
    -moz-box-shadow: inset 0 0 10px rgba(107, 5, 5, 0.46) !important;
    box-shadow: inset 0 0 10px rgba(107, 5, 5, 0.46) !important;
    border: 1px solid #D20000 !important;
}
.sidebar #mc_embed_signup .mc-field-group input::-webkit-input-placeholder {
   text-transform: uppercase;
   font: 17px panton-regular;
   line-height: 27px;
   color: #d1d1d1;
}
.sidebar #mc_embed_signup .mc-field-group input:-moz-placeholder {
   text-transform: uppercase;
   font: 17px panton-regular;
   line-height: 27px;
   color: #d1d1d1;
}
.sidebar #mc_embed_signup .mc-field-group input::-moz-placeholder {
   text-transform: uppercase;
   font: 17px panton-regular;
   line-height: 27px;
   color: #d1d1d1;
}
.sidebar #mc_embed_signup .mc-field-group input:-ms-input-placeholder {
   text-transform: uppercase;
   font: 17px panton-regular;
   line-height: 27px;
   color: #d1d1d1;
}
.sidebar #mc_embed_signup div.mce_inline_error{
    display: none !important;
}
.sidebar #mc_embed_signup .button{
    background-color: #f26522;
    margin: 0;
    border: 1px solid #f26522;
    padding: 13px;
    font-size: 11px;
    text-transform: uppercase;
    display: block;
    line-height: 17px;
    height: auto;
    width: 100%;
}
.sidebar #mc_embed_signup .button:hover{
    background-color: #f26522;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
#mc_embed_signup div#mce-responses{
    float: left;
    width: 100% !important;
    margin: 0 0 10px 0 !important;
    padding: 0 !important;
}
#mc_embed_signup #mce-success-response{
    color: #529214;
    display: none;
    width: 100%;
    float: left;
    margin: 0;
    padding: 15px;
    background-color: rgba(8, 97, 1, 0.16);
}
#mc_embed_signup #mce-error-response{
    color: #e53935;
    display: none;
    width: 100%;
    float: left;
    margin: 0;
    padding: 15px;
    background-color: rgba(229, 57, 53, 0.23);
}
.sidebar .follow,
.sidebar .follow span{
    width: 100%;
    float: left;
}
.sidebar .follow span{
    margin-bottom: 23px;
    display: flex;
}
.sidebar .follow span a{
    color: #555;
    font-family: 'panton-bold';
    font-size: 14px;
    text-transform: uppercase;
}
.sidebar .follow span a:hover{
    color: #19A6B8;
}
.sidebar .follow span i.icon-facebook{
    background-color: #3A5795;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #3A5795;
    color: #fff;
}
.sidebar .follow span i.icon-youtube-play{
    background-color: #CC181E;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #CC181E;
    color: #fff;
}
.sidebar .follow span i.icon-gplus{
    background-color: #DB4437;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #DB4437;
    color: #fff;
}
.sidebar .follow span i.icon-instagram{
    background-color: #7C5641;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #7C5641;
    color: #fff;
}
.sidebar .follow span i.icon-rss{
    background-color: #F6D33C;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #F6D33C;
    color: #fff;
}
.sidebar .api-instagram{
    width: 100%;
    float: left;
}
.sidebar .api-instagram .si_item{
    width: 46.1%;
    margin-bottom: 20px;
}
.sidebar .api-instagram .si_item:first-child{
    margin-right: 10px;
}
.sidebar .api-instagram .si_item:nth-child(2){
    margin-left: 10px;
}
.sidebar .api-instagram .si_item:nth-child(3){
    margin-right: 10px;
}
.sidebar .api-instagram .si_item:nth-child(4),
.sidebar .api-instagram .si_item:nth-child(5){
    display: none;
}
.sidebar .api-instagram .si_item:last-child{
    margin-left: 10px;
}
.sidebar .api-instagram .si_item img{
    width: 100%;
}

/* MEDIA QUERIES */
@media (max-width: 1350px) and (min-width: 1200px){
    .um-post.menor .img-destak{
        height: 280px;
    }
}

@media(max-width: 1199px){
    .blog-title .page-name h1,
    .blog-title .page-name span.blogui{
        font-size: 30px;
        margin-top: 5px;
    }
    .blog-title .menu-blog ul li:nth-child(6){
        display: none;
    }
    .sidebar #mc_embed_signup .button{
        font-size: 9px;
    }
    .um-post .img-destak{
        height: 275px;
    }
    .sidebar .api-instagram .si_item {
        width: 45.1%;
    }
}
@media(max-width: 991px){
    .blog-title .responsive-menu-blog{
        display: block;
    }
    .blog-title .menu-blog{
        display: none;
    }
    .blog-title .menu-blog ul li:nth-child(6){
        display: block;
    }
    /*DROPDOWN LAST POSTS*/
    .dropdown{
        position: relative;
        float: left;
        width: 100%;
        z-index: 100;
    }
    .dropdown label{
        width: 100%;
        position: relative;
        background: #ECF0F1;
        padding: 14px 20px;
    }
    .dropdown label:hover,
    .dropdown ul li:hover {
        background: rgba(89, 87, 86, .1);
        cursor: pointer;
    }
    .dropdown label {
        color: #595756;
        width: 100%;
        background-color: transparent;
        border: 1px solid #595756;
        position: relative;
        z-index: 4;
        font-size: 16px;
        width: 100%;
    }
    .dropdown input {
        display: none;
    }
    .dropdown input ~ ul {
        padding: 0;
        width: 100%;
        position: absolute;
        visibility: hidden;
        opacity: 0;
        top: 10px;
        z-index: 1;
    }
    .dropdown input:checked + label {
        background: rgba(89, 87, 86, .1);
        color: #595756;
    }
    .dropdown input:checked ~ ul {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        position: absolute;
        visibility: visible;
        opacity: 1;
        z-index: 10;
        top: 52px;
    }
    .dropdown input ~ label i{
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .dropdown input:checked ~ label i{
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .dropdown ul li {
        list-style: none;
        width: 100%;
        position: relative;
    }
    .dropdown ul li a{
        border-bottom: 1px solid #DDD   ;
        background-color: #FFF;
        padding: 15px 10px;
        color: #595756;
        display: table;
        width: 100%;
    }
    .dropdown ul li a:hover{
        background-color: #999;
        color: #FFF;
    }
    .animate {
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s;
        -ms-transition: all .3s;
        transition: all .3s;z
    }
    /* END DROPDOWN LAST POSTS*/
    .um-post .img-destak{
        height: 275px;
    }
    .sidebar{
        padding-top: 80px;
    }
    .sidebar #mc_embed_signup .button{
        font-size: 13px;
    }
}
@media(max-width: 767px){
    .blog-title .page-name h1,
    .blog-title .page-name span.blogui{
        margin: 0 0 10px;
        display: block;
    }
    .single-blog .title h1{
        font-size: 30px;
    }
    .blog-title {
        padding-top: 110px;
    }
}
@media(max-width: 481px){
    .blog-title .page-name h1,
    .blog-title .page-name span.blogui{
        font-size: 28px;
    }
    .single-blog .title h1 {
        font-size: 25px;
    }
}