#header-sroll .menu-one ul li a,
#header-sroll .menu-two ul li a{
	color: #0d475a;
}
#header-sroll .logo a.siteLogo{
    background: url('../img/junior-cadabra-color.svg') no-repeat;
}
#header-sroll .box-menu{
	margin-top: 10px;
}
#header-sroll .menu-one ul li a:hover::before,
#header-sroll .menu-two ul li a:hover::before {
    color: #0d475a;
    text-shadow: 10px 0 #0d475a, -10px 0 #0d475a;
}
@media(max-width: 767px){
	#header-sroll .bar {
	    color: #000;
	    background: #000;
	}
	#header-sroll .bar:before {
        background: #000;
	}
	#header-sroll .bar:after {
	    background: #000;
	}
}