.back-diagonal{
    background-image: url('../img/diagonal-back.png');
    background-position: 0% 0%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    height: 268px;
    z-index: 0;
    width: 100%;
    top: 0;
}
.head-title .page-name h1{
    text-align: center;
}
.head-title .page-name #breadcrumbs{
    text-align: center;
}
#breadcrumbs a,
#breadcrumbs span {
    color: #19A6B8;
    font-size: 13px;
}
.contrate{
    position: relative;
    width: 100%;
    float: left;
    padding-top: 80px;
}
.contrate .imagem{
    background-image: url('../img/contrate-o-junior.png');
    background-position: 28% 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    height: 576px;
    float: left;
    width: 100%;
    bottom: 31px;
}
.contrate .wpcf7-form,
.contrate .wpcf7-form .campo,
.contrate .wpcf7-form .enviou{
    float: left;
    width: 100%;
    background-color: transparent;
}
.contrate .wpcf7-form .campo.date,
.contrate .wpcf7-form .campo.selection{
    width: 48%;
}
.contrate .wpcf7-form .campo.date{
    margin-right: 2%;
}
.contrate .wpcf7-form .campo.selection{
    margin-left: 2%;
}
.contrate .wpcf7-form .campo.selection select,
.contrate .wpcf7-form .campo textarea{
    width: 100%;
    float: left;
}
.contrate .wpcf7-form .campo input{
    width: 100%;
    float: left;
    padding: 8px;
}
.contrate .wpcf7-form .campo input:focus,
.contrate .wpcf7-form .campo textarea:focus{
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.26);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.26);
    border: 1px solid #19A6B8;
}
.contrate .wpcf7-form .campo input,
.contrate .wpcf7-form .campo.selection select,
.contrate .wpcf7-form .campo textarea{
    border: 1px solid #19A6B8;
    padding: 12px 8px 6px;
    line-height: 27px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.62);
}
.contrate .wpcf7-form .campo textarea{
    max-width: 100%;
    height: 220px;
}
.contrate .wpcf7-form .campo.selection select{
    padding: 16px 8px;
}
.contrate .wpcf7-form .campo.date input{
    font-family: 'panton-black';
    text-transform: lowercase;
    color: #19A6B8;
    font-size: 21px;
    line-height: 20px;
}
.contrate .wpcf7-form .campo.date input::-webkit-input-placeholder,
.contrate .wpcf7-form .campo input::-webkit-input-placeholder,
.contrate .wpcf7-form .campo textarea::-webkit-input-placeholder {
    font-family: 'panton-black';
    text-transform: lowercase;
    color: #19A6B8;
    font-size: 21px;
    line-height: 20px;
}
.contrate .wpcf7-form .campo.date inputpo input:-moz-placeholder,
.contrate .wpcf7-form .campo input:-moz-placeholder,
.contrate .wpcf7-form .campo textarea:-moz-placeholder {
    font-family: 'panton-black';
    text-transform: lowercase;
    color: #19A6B8;
    font-size: 21px;
    line-height: 20px;
}
.contrate .wpcf7-form .campo.date inputpo input::-moz-placeholder,
.contrate .wpcf7-form .campo input::-moz-placeholder,
.contrate .wpcf7-form .campo textarea::-moz-placeholder {
    font-family: 'panton-black';
    text-transform: lowercase;
    color: #19A6B8;
    font-size: 21px;
    line-height: 20px;
}
.contrate .wpcf7-form .campo.date inputt:-ms-input-placeholder,
.contrate .wpcf7-form .campo input:-ms-input-placeholder,
.contrate .wpcf7-form .campo textarea:-ms-input-placeholder {
    font-family: 'panton-black';
    text-transform: lowercase;
    color: #19A6B8;
    font-size: 21px;
    line-height: 20px;
}
.contrate .wpcf7-form .enviou input{
    font-family: 'panton-black';
    background-color: #19A6B8;
    border: 1px solid #19A6B8;
    color: #FFF;
    font-size: 21px;
    padding: 8px;
    display: block;
    width: 100%;
}
.contrate .wpcf7-form .enviou input:hover{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: rgba(25, 166, 184, 0.76);
}
/*VALIDATION FORM*/
.contrate .wpcf7-form .campo input.wpcf7-not-valid{
    border: 1px solid #E82525;
}
span.wpcf7-not-valid-tip{
    display: none;
}
div.wpcf7-validation-errors{
    float: left;
    width: 100%;
    margin: 5px 0;
}
/* DEPOIMENTOS */
.depoi,
.depoi .titulo{
    padding-top: 50px;
    float: left;
    width: 100%;
}
.depoi .titulo h2{
    color: #0d475a;
    text-transform: uppercase;
    text-align: center;
    font-size: 29px;
}
.slide-depoimento{
    float: left;
    width: 100%;
}
.um-depoimento{
    width: 100%;
    padding-top: 50px;
}
.um-depoimento span.aspas{
    font-size: 64px;
    text-align: center;
    font-family: 'panton-black';
    color: #0d475a;
    display: block;
    line-height: 50px;
}
.um-depoimento p{
    font-size: 29px;
    text-align: center;
    font-family: 'panton-black';
    text-transform: uppercase;
    color: #18a6b8;
    margin-bottom: 0;
    line-height: 27px;
}
.um-depoimento p strong{
    color: #0d475a;
}
.um-depoimento span.quem{
    margin-top: 15px;
    color: #18a6b8;
    font-size: 18px;
    text-align: center;
    width: 100%;
    display: block;
}
.um-depoimento span.ocupacao{
    color: #18a6b8;
    font-size: 14px;
    text-align: center;
    width: 100%;
    display: block;
}
.slide-depoimento.owl-carousel .animated {
    -webkit-animation-duration: 1000ms;
    animation-duration: 1000ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}
.slide-depoimento.owl-carousel .owl-animated-in {
    z-index: 0
}
.slide-depoimento.owl-carousel .owl-animated-out {
    z-index: 1
}
.slide-depoimento.owl-carousel .fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}
.owl-height {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out
}
.slide-depoimento.owl-carousel {
    display: none;
    width: 100%;
    position: relative;
    z-index: 1;
}
.slide-depoimento.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y
}
.slide-depoimento.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0
}
.slide-depoimento.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0)
}
.slide-depoimento.owl-carousel .owl-controls .owl-nav .owl-next,
.slide-depoimento.owl-carousel .owl-controls .owl-nav .owl-prev {
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, .97);
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 50%
}
.slide-depoimento.owl-carousel .owl-controls .owl-dots {
    position: absolute;
    bottom: -10px;
    z-index: 10;
    margin: 0 auto;
    display: none !important;
}
.slide-depoimento.owl-carousel .owl-controls .owl-nav .owl-next {
    right: 0%;
    font-size: 48px;
    color: #d8d8d8
}
.slide-depoimento.owl-carousel .owl-controls .owl-nav .owl-prev {
    font-size: 48px;
    color: #d8d8d8;
    float: left;
    left: 0%;
}
.slide-depoimento.owl-carousel.owl-loaded {
    display: block
}
.slide-depoimento.owl-carousel.owl-loading {
    display: block;
    opacity: 0;
}
.slide-depoimento.owl-carousel .owl-refresh .owl-item,
.slide-depoimento.owl-carousel .owl-video-playing .owl-video-play-icon,
.slide-depoimento.owl-carousel .owl-video-playing .owl-video-tn {
    display: none
}
.slide-depoimento.owl-carousel.owl-hidden {
    opacity: 0
}
.slide-depoimento.owl-carousel .owl-item {
    min-height: 1px;
    overflow: hidden;
    float: left;
    user-select: none;
    backface-visibility: hidden;
    tap-highlight-color: transparent;
    touch-callout: none;
    position: relative
}
.slide-depoimento.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}
.slide-depoimento.owl-carousel.owl-text-select-on .owl-item {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto
}
.slide-depoimento.owl-carousel .owl-grab {
    cursor: move;
    cursor: -webkit-grab;
    cursor: -o-grab;
    cursor: -ms-grab;
    cursor: grab
}
.slide-depoimento.owl-carousel.owl-rtl {
    direction: rtl
}
.slide-depoimento.owl-carousel.owl-rtl .owl-item {
    float: right
}
.no-js .owl-carousel {
    display: block
}
.slide-depoimento.owl-carousel .owl-item .owl-lazy {
    opacity: 0;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease
}
.slide-depoimento.owl-carousel .owl-video-wrapper {
    position: relative;
    height: 100%;
    background: #000
}
.slide-depoimento.owl-carousel .owl-video-play-icon {
    position: absolute;
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    background: url(owl.video.play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transition: scale 100ms ease;
    -moz-transition: scale 100ms ease;
    -ms-transition: scale 100ms ease;
    -o-transition: scale 100ms ease;
    transition: scale 100ms ease
}
.slide-depoimento.owl-carousel .owl-video-play-icon:hover {
    -webkit-transition: scale(1.3, 1.3);
    -moz-transition: scale(1.3, 1.3);
    -ms-transition: scale(1.3, 1.3);
    -o-transition: scale(1.3, 1.3);
    transition: scale(1.3, 1.3)
}
.slide-depoimento.owl-carousel .owl-video-tn {
    opacity: 0;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    -webkit-transition: opacity 400ms ease;
    -moz-transition: opacity 400ms ease;
    -ms-transition: opacity 400ms ease;
    -o-transition: opacity 400ms ease;
    transition: opacity 400ms ease
}
.slide-depoimento.owl-carousel .owl-video-frame {
    position: relative;
    z-index: 1
}
.owl-theme .owl-controls {
    text-align: center
}
.owl-theme .owl-controls .owl-nav[class*=owl-]:hover {
    text-decoration: none;
    color: #fff;
}
.owl-theme .owl-controls .owl-nav .disabled {
    opacity: .5;
    cursor: default
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1
}
.owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: rgba(255, 255, 255, 0);
    display: block;
    border-radius: 30px;
    backface-visibility: visible;
    transition: opacity 200ms ease;
    border: 2px solid #0D475A
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #18A6B8
}

/* MEDIA QUERIES */
@media(max-width: 1199px){}
@media(max-width: 991px){}
@media(max-width: 767px){
    .contrate .imagem{
        background-position: 34% 100%;
    }
    div.wpcf7{
        float: right;
        width: 68%;
    }
    .contrate .wpcf7-form .campo.date,
    .contrate .wpcf7-form .campo.selection{
        width: 100%;
        float: left;
        margin: 0;
    }
    .depoi .titulo h2 br{
        display: none;
    }
    .slide-depoimento.owl-carousel {
        min-height: 283px;
        height: auto;
    }
    .owl-theme .owl-controls .owl-nav{
        display: none;
    }
    .slide-depoimento.owl-carousel .owl-controls .owl-dots{
        display: block !important;
        position: absolute;
        bottom: -9px;
        width: 100%;
        z-index: 10;
    }
}
@media(max-width: 481px){
    div.wpcf7{
        float: left;
        width: 100%;
    }
    .um-depoimento p{
        font-size: 25px;
    }
    .contrate .imagem{
        display: none;
    }
}
