.duvidas{
	width:100%;
	float: left;
	padding: 0 0 50px;
}
.duvidas h1{
	text-align: center;
	font-size: 50px;
    margin-top: 35px;
    line-height: 100%;
}
.duvidas h2{
	font-size: 15px;
	text-align: center;
	margin-bottom:50px;
}
.duvidas p{
	text-indent: 30px;
}
.box{
	padding:20px 0;
}
.box-odd{
	background-color:#f1f1f1;
}
.control-button{
	text-align: center;
	margin-top:20px;
}

@media (max-width: 991px){
	.duvidas{
		text-align: center;
	}
	.duvidas p{
		text-indent: 0;
	}
}