.overlay{
	/* width: 60%; */
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a1a1a1+0,ffffff+100&1+26,0+99 */
	background: -moz-linear-gradient(left,  rgba(161,161,161,1) 0%, rgba(185,185,185,1) 26%, rgba(254,254,254,0) 99%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(161,161,161,1) 0%,rgba(185,185,185,1) 26%,rgba(254,254,254,0) 99%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(161,161,161,1) 0%,rgba(185,185,185,1) 26%,rgba(254,254,254,0) 99%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1a1a1', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
.group-banner h2,
.group-banner h3{
	text-shadow: -1px 1px 16px rgba(0, 0, 0, 0.53);
}
.section-white,
.section-gray{
	padding:50px 0;
	float:left;
	width:100%;
}
.section-white h2,
.section-gray h2{
	display: inline-block;
	padding-bottom: 10px;
	margin-bottom: 30px;
}
.section-white h2{
	padding-right: 50px;
	border-bottom: 1px solid #739c6c ;
}
img{
	width:300px;
}
.section-white img{
	float: right;
    width: auto;
    display: table;
    margin: 0 auto;
}
.section-gray{
	background-color:#f1f1f1;
	border-top:1px solid #4d4d4d;
	border-bottom:1px solid #4d4d4d;
}
.section-gray h2{
	padding-left: 50px;
	border-bottom: 1px solid #739c6c ;
}
.section-gray h2,
.section-gray p{
	float: right;
	text-align: right;
}
.ultimo-botao .botao{
	text-align: center;
	margin: 25px 0 50px;
}
.ultimo-botao .botao a{
	padding: 10px 40px;
	font-size: 19px;
}
.box-play{
	position: absolute;
	width: 150px;
	height: 140px;
    right: 19%;
    top: 40%;
    z-index: 9;
    transition: all .5s ease;
}
.banner svg{
	position: absolute;
    width: 60%;
    height:90px;
    cursor: pointer;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.banner #path{
	stroke-width: 1px;
	stroke:#000;
}
.box-play h4{
    position: absolute;
    bottom: 0;
    color: #fff;
    left: 0;
    right: 0;
    text-align: center;
    text-shadow: 0 0 9px #000;
}
.section-white img.img-section-unico{
	float: none;
}
@media (max-width: 991px){
	#bannerHome{
		display: none !important;
	}
	.banner{
		height: auto;
	}
	.overlay{
		display: none;
	}
	video{
	    width: 100%;
	    position: relative;
	}
	.box-play{
		left: 0;
	    right: 0;
	    margin: 0 auto;
	    top: 35%;
	}
	section{
		text-align: center;
	}
	.section-white h2,
	.section-gray h2{
		text-align: center;
		padding:0;
	}
	.section-white img,
	.section-gray img{
		float: none;
	}
	.section-white img{
		width:200px;
	}
}
@media (max-width: 448px){
	.box-play{
	    top: 15%;
	}
}
