section{
    text-align: center;
}
.comece-hoje{
    width:100%;
    float: left;
    padding:30px 0 50px;
}
.title-subli{
    border-bottom:1px solid #739c6c;
    margin-bottom:30px;
}

.disf-ejac{
    width:100%;
    float: left;
    background-color:#ededed;
    padding:30px 0 0;
}
.disf-ejac .box{
    float: left;
    width:100%;
    margin-bottom: 50px;
    height: 620px;
}
.disf-ejac h3{
    font-size:27px;
}
.disf-ejac img{
    width: 250px;
    margin: 20px 0;
}
.disf-ejac .box .botao{
    position: absolute;
    left: 0;
    right:0;
    bottom: 30px;
}
.quatro-passos{
    width:100%;
    float: left;
    padding:30px 0 70px;
}
.quatro-passos h2{
    margin-bottom:50px;
}
.quatro-passos .box{
    transition: all .5s ease;
    padding:30px;
}
.quatro-passos img{
    border-radius:50%;
    width:150px;
    transition: all .5s ease;
}
.quatro-passos .box:hover img{
    box-shadow: 0px 0px 14px #384536;
}
.quatro-passos .box:hover{
    background-color:rgba(78, 160, 65, 0.32);
    border-radius:4px;
}
.nossa-equipe{
    position: relative;
    width:100%;
    float: left;
    background-image:url('../img/bg-nossa-equipe.jpg');
    -webkit-background-size: cover;
    background-size: cover;
    color:#fff;
    padding:80px 0;
}
.nossa-equipe .overlay{
    width:50%;
    height: 100%;
    position: absolute;
    right:0;
    top: 0;
    background-color:rgba(0, 0, 0, .5);
}
.nossa-equipe h2{
    margin-bottom: 20px;
}
.nossa-equipe .box{
    width: 50%;
    position: relative;
    z-index: 2;
    padding:0 100px;
    float: right;
}
/* MEDIA QUERIES */
@media (max-width: 1199px){
    .nossa-equipe .box{
        padding:0 50px;
    }
    .disf-ejac .box {
        height: 650px;
    }
}
@media (max-width: 991px){
    .quatro-passos .box{
        padding: 15px;
        margin-bottom: 50px;
    }
    .nossa-equipe .overlay{
        width:100%;
        background-color:rgba(0, 0, 0, .7);
    }
    .nossa-equipe .box{
        width:100%;
        padding:0 15px;
    }
    .disf-ejac .box{
        height: auto;
        padding-bottom:50px;
    }

}