section{
	width:100%;
	float: left;
	text-align: right;
    padding:60px 0 120px;
	background-position: 100% 15%;
    background-repeat: no-repeat;
}
.medico{
	padding-bottom:150px;
}
.box{
	padding-left: 150px;
	position: relative;
	z-index: 3;
}
.box-img{
	height: 500px;
}
h1{
	font-size: 40px;
	margin-top:50px;
	margin-bottom:70px;
}
p{
	font-family: 'calibri_regular';
}
@media (max-width: 1366px){
	.box{
		padding-left: 0;
		padding-right:100px;
	}
}
@media (max-width: 1199px){
	section{
	    background-size: contain;
	}
	.telemedicina{
		background-position-x: 154%;
	}
	.box{
		padding-left: 0;
		padding-right:0;
	}
}
@media (max-width: 991px){
	.telemedicina{
		text-align: center;
		background-size:cover;
		background-position-y:70%;
		color:#fff;
	}
	section.telemedicina::after{
		content:'';
		width:100%;
		height:100%;
		position: absolute;
		background-color:rgba(0, 0, 0, 0.61);
		left:0;
		top:0;
	}
}
@media (max-width: 768px){
	section{
	    text-align: center;
	    padding-top: 10px;
        background-size: cover;
        color:#fff;
	}
	section::after{
		content:'';
		width:100%;
		height:100%;
		position: absolute;
		background-color:rgba(0, 0, 0, 0.61);
		left:0;
		top:0;
	}
	.telemedicina{
		background-position-x:50%;
	}
	.box{
		padding-right:0;
	}

}