.pgto{
	width:100%;
	float: left;
	padding: 0 0 50px;
}
.pgto h1{
	text-align: center;
	font-size: 50px;
    margin: 35px 0;
    line-height: 100%;
}
.pgto .subtitle{
	background-color:#729c6c;
	width:100%;
	float: left;
}