.banner #bannerHome .fullscreen {
    background-position: 50% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    float: left;
    position: relative;
}
.overlay{
    position: absolute;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.5);
}
.group-banner{
    width: 100%;
    display: table;
    overflow: hidden;
    padding-bottom: 20px;
    margin-top: 50px;
}
.group-banner h2{
    font-size: 42px;
    color:#fff;
    text-align: right;
}
.group-banner h3{
    color:#fff;
    text-align: right;
}
.banner{
    width: 100%;
    height: 55vh;
    float: left;
    position: relative;
}
.banner .botao a{
    float: right;
    margin-top: 0;
}
.owlcarousel{
    height: 100%;
    float: left;
}
.owl-stage-outer{
    width: 100%;
    height: 100%;
}
.owl-stage{
    width: 100%;
    height: 100%;
}
.owl-carousel{
    display: block !important;
    height: 100%;
}
video{
    position: absolute;
    width:auto;
    height: 100%;
    object-position: 100%;
    right:0;
}
@media (max-width: 991px){
    .group-banner{
        text-align:center;
    }
    .banner .botao a{
        margin: 15px auto 0;
        float: none;
    }
    .group-banner h2,
    .group-banner h3{
        text-align: center;
    }
    video{
        left: 0;
    }
}
@media (max-width: 767px){
    .banner{
        height:auto;
    }
    .banner .botao{
        padding-bottom: 50px;
    }
}

@media (max-width: 560px){
    .group-banner h2{
        font-size: 35px;
    }
}