.back-diagonal{
    background-image: url('../img/diagonal-back.png');
    background-position: 0% 0%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    height: 268px;
    z-index: 0;
    width: 100%;
    top: 0;
}
#breadcrumbs{
    display: none;
}
#breadcrumbs.stay{
    display: block;
}
.sobre-cadabra,
.sobre-cadabra .contem{
    float: left;
    width: 100%;
}
.sobre-cadabra{
    min-height: 315px;
}
.sobre-cadabra .contem{
    font-size: 15px;
    color: #828282;
    margin-top: 10px;
}
.sobre-cadabra .img-cadabra{
    background-image: url('../img/sobre-cadabra.png');
    background-position: 50% 0%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: absolute;
    height: 500px;
    z-index: 30;
    top: 31px;
    float: left;
    width: 68%;
}
.midia{
    background-image: url('../img/shape.png');
    background-position: 50% 0%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 31;
    width: 100%;
    top: 0;
    height: 160px;
    float: left;
    padding-top: 80px;
}
.midia h2{
    color: #18a6b8;
    font-size: 29px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.midia iframe{
    height: 348px;
}
.midia .more-videos{
    float: left;
    width: 100%;
}
.midia .more-videos a{
    background-color: #18a6b8;
    border: 1px solid #18a6b8;
    text-transform: uppercase;
    margin: 25px auto 0;
    border-radius: 4px;
    font-size: 15px;
    display: table;
    padding: 10px 15px;
    font-family: 'panton-bold';
    color: #FFF;
}
.midia .more-videos a:hover{
    background-color: rgba(24, 166, 184, 0.77);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.sobre,
.sobre .titulo{
    float: left;
    width: 100%;
}
.sobre{
    padding-top: 70px;
}
.sobre .titulo h2{
    color: #18a6b8;
    font-size: 29px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 25px;
}
/* TIMELINE */
#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 0px;
    margin-bottom: 2em;
    float: left;
    width: 100%;
}
#cd-timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 21px;
    height: 100%;
    width: 2px;
    background: #18a6b8;
}
.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}
.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-block:first-child {
    margin-top: 0;
}
.cd-timeline-block:last-child {
    margin-bottom: 0;
}
.cd-timeline-img {
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.cd-timeline-img img {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
}
.cd-timeline-img.cd-picture {
    background: #75ce66;
}
.cd-timeline-img.cd-movie {
    background: #c03b44;
}
.cd-timeline-img.cd-location {
    background: #f0ca45;
}
.lembra{
    background-position: 50% 20%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    height: 300px;
    z-index: 0;
    width: 100%;
    top: 0;
}
.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    background: #f1f1f1;
    border-radius: 0.25em;
    padding: 1em;
    box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}
.cd-timeline-content h2 {
    color: #19A6B8;
    font-family: 'panton-black';
    text-transform: uppercase;
    font-size: 18px;
}
.cd-timeline-content p,
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
    font-size: 15px;
    color: #828282;
    font-family: 'panton-regular';
    line-height: 27px;
}
.cd-timeline-content .cd-read-more,
.cd-timeline-content .cd-date {
    display: inline-block;
}
.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
    float: right;
    padding: .8em 1em;
    background: #acb7c0;
    color: white;
    border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
    background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
    float: left;
    padding: .8em 0;
    opacity: .7;
}
.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 17px solid transparent;
    border-right: 17px solid #F1F1F1;
}
/*Animations*/
@-webkit-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
    }
}
@-moz-keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -moz-transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
    }
}
@keyframes cd-bounce-1 {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes cd-bounce-2 {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        -ms-transform: translateX(20px);
        -o-transform: translateX(20px);
        transform: translateX(20px);
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -moz-transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -moz-transform: translateX(-20px);
    }
    100% {
        -moz-transform: translateX(0);
    }
}
@keyframes cd-bounce-2-inverse {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        transform: translateX(100px);
    }
    60% {
        opacity: 1;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        -o-transform: translateX(-20px);
        transform: translateX(-20px);
    }
    100% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
}
.footer{
    margin: 0;
}




/* MEDIA QUERIES */
@media (max-width: 1350px) and (min-width: 1200px){
    .midia iframe{
        height: 312px;
    }
    .sobre-cadabra .img-cadabra{
        top: 85px;
    }
}
@media(max-width: 1199px){
    .sobre-cadabra .contem{
        z-index: 32;
        position: relative;
    }
    .midia iframe{
        height: 255px;
    }
    .sobre-cadabra .img-cadabra{
        top: 231px;
    }
}
@media(max-width: 991px){
    .midia iframe{
        height: 193px;
    }
    .sobre-cadabra .img-cadabra{
        display: none;
    }
    .midia{
        display: none;
    }
    .footer {
        margin-top: 100px;
    }
}
@media(max-width: 767px){
    .sobre-cadabra .contem{
        width: 100%;
    }
    .sobre-cadabra .img-cadabra {
        height: 300px;
        width: 300px;
        right: -50px;
        top: -195px;
    }
    .midia iframe{
        height: 315px;
        margin-bottom: 20px;
    }
    .sobre-cadabra .img-cadabra{
        display: none;
    }].mi
}
@media(max-width: 481px){
    .sobre-cadabra .contem {
        width: 100%;
    }
    .sobre-cadabra .img-cadabra{
        display: none;
    }
    .midia iframe{
        height: 245px;
    }
    .lembra{
        height: 200px;
    }
}


@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 18px;
    }
    .cd-timeline-content p {
        font-size: 15px;
    }
    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        font-size: 15px;
    }
}
@media only screen and (min-width: 1170px) {
    .sobre .titulo h2{
        text-align: center;
    }
    .cd-timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
    .cssanimations .cd-timeline-img.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-img.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-1 0.6s;
        -moz-animation: cd-bounce-1 0.6s;
        animation: cd-bounce-1 0.6s;
    }
    .cd-timeline-block {
        margin: 4em 0;
    }
    .cd-timeline-block:first-child {
        margin-top: 0;
    }
    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }
     .cd-timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
    }
    .cd-timeline-content::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: #F1F1F1;
    }
    .cd-timeline-content .cd-read-more {
        float: left;
    }
    .cd-timeline-content .cd-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 6px;
        font-size: 17px;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: #F1F1F1;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
        float: right;
    }
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
        left: auto;
        right: 122%;
        text-align: right;
    }
    .cssanimations .cd-timeline-content.is-hidden {
        visibility: hidden;
    }
    .cssanimations .cd-timeline-content.bounce-in {
        visibility: visible;
        -webkit-animation: cd-bounce-2 0.6s;
        -moz-animation: cd-bounce-2 0.6s;
        animation: cd-bounce-2 0.6s;
    }
    #cd-timeline {
        margin-top: 0;
        margin-bottom: 3em;
    }
    #cd-timeline::before {
        left: 50%;
        margin-left: -2px;
    }
    /* inverse bounce effect on even content blocks */
    .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
        -webkit-animation: cd-bounce-2-inverse 0.6s;
        -moz-animation: cd-bounce-2-inverse 0.6s;
        animation: cd-bounce-2-inverse 0.6s;
    }
}