@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot');
    src: url('../fonts/fontello.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff') format('woff'),
    url('../fonts/fontello.ttf') format('truetype'),
    url('../fonts/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'calibri_bold';
    src: url('../fonts/calibri_bold.eot');
    src: url('../fonts/calibri_bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/calibri_bold.woff') format('woff'),
    url('../fonts/calibri_bold.ttf') format('truetype'),
    url('../fonts/calibri_bold.svg#calibri_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'calibri_light';
    src: url('../fonts/calibri_light.eot');
    src: url('../fonts/calibri_light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/calibri_light.woff') format('woff'),
    url('../fonts/calibri_light.ttf') format('truetype'),
    url('../fonts/calibri_light.svg#calibri_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'calibri_regular';
    src: url('../fonts/calibri_regular.eot');
    src: url('../fonts/calibri_regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/calibri_regular.woff') format('woff'),
    url('../fonts/calibri_regular.ttf') format('truetype'),
    url('../fonts/calibri_regular.svg#calibri_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gadugi_bold';
    src: url('../fonts/gadugi_bold.eot');
    src: url('../fonts/gadugi_bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gadugi_bold.woff') format('woff'),
    url('../fonts/gadugi_bold.ttf') format('truetype'),
    url('../fonts/gadugi_bold.svg#gadugi_bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gadugi_regular';
    src: url('../fonts/gadugi_regular.eot');
    src: url('../fonts/gadugi_regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gadugi_regular.woff') format('woff'),
    url('../fonts/gadugi_regular.ttf') format('truetype'),
    url('../fonts/gadugi_regular.svg#gadugi_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.calibri_bold{
    font-family:'calibri_light';
}
.calibri_regular{
    font-family:'calibri_regular';
}
.calibri_bold{
    font-family:'calibri_bold';
}
.gadugi_regular{
    font-family:'gadugi_regular' !important;
}
.gadugi_bold{
    font-family:'gadugi_bold' !important;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
#wrap{
    overflow: hidden;
    width: 100%;
    float: left;
    position: relative;
    color:#595959;
    font-size: 16px;
}
a, span, li, p{
    font-family: 'calibri_bold';
}
h1, h2, h3, h4{
    font-family: 'gadugi_bold';
}
a,
input,
textarea,
button{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
input:focus,
textarea:focus{
    outline: none;
}
a:hover,
a:focus,
a:active{
    outline: none;
    text-decoration: none;
}
*, *:after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul, ol{
    margin-bottom: 0;
}

/* LOAD PAGE */
.loading{
    -webkit-transition: all .7s ease-in-out;
    -moz-transition: all .7s ease-in-out;
    -ms-transition: all .7s ease-in-out;
    -o-transition: all .7s ease-in-out;
    transition: all .7s ease-in-out;
    background-color: #e5ebe4;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    opacity: 1;
    visibility: visible;
}
.loading .box{
    display: table;
    margin: 43vh auto;
}
.loading img{
    width: 280px;
}
.loading .box .load{
    position: relative;
    margin: 45px 0 0;
}

.load .dot {
    background-color: #739c6c;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: calc(2.5px + 30px) 2.5px;
          transform-origin: calc(2.5px + 30px) 2.5px;
    -webkit-animation: rotate 2s cubic-bezier(0.9, 0.02, 0.13, 0.99) infinite;
          animation: rotate 2s cubic-bezier(0.9, 0.02, 0.13, 0.99) infinite;
    margin-left: -30px;
    /* box-shadow: 0 0 3px white; */
    box-shadow: 0px 0px 20px rgb(15, 96, 44);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    width: 5px;
    height: 5px;
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    width: 5px;
    height: 5px;
    opacity: 0.5;
  }
  100% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
.load .dot:nth-child(2) {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}
.load .dot:nth-child(3) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.load .dot:nth-child(4) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
.load .dot:nth-child(5) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.load .dot:nth-child(6) {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.load .dot:nth-child(7) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.centering{
    float: none;
    margin-left: auto;
    margin-right: auto;
}
p{
    margin-bottom: 20px;
}
.botao{
    width: 100%;
    float: left;
    margin-top: 15px;
}
.botao a,
.botao button{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-transform: uppercase;
    color: #FFF;
    font-size: 17px;
    margin: 15px 0 0 0;
    border: 1px solid #739c6c;
    padding: 6px 35px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    background-color: #739c6c;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}
.botao a:hover,
.botao button:hover{
    background-color: #9ec698;
    box-shadow: inset 0 0 20px rgba(115, 156, 108, 0.81);
}
.chamada-header{
    text-align: center;
}
.chamada-header p{
    margin-top: 10px;
    width: 100%;
    float: left;
    font-family: 'calibri_light';
}
.chamada-header .botao{
    margin-top: 0;
}
.chamada-header .botao a{
    padding: 13px 30px;
}
.my-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.conteudo {
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 100%;
}
.control-index svg.logo-ie{
    height:44px;
}
/*HEADER*/
.header,
.desk-menu{
    float: left;
    display: table;
    width: 100%;
    position: relative;
}
.atendimento{
    font-family: 'calibri_bold';
    font-size: 19px;
    margin-top: 20px;
}
.atendimento .telefone{
    color: #396133;
    font-size: 21px;
}
#header-sroll,
#header-sroll.small,
#header-sroll *,
#header-sroll.small *{
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    transition: all .35s ease-in-out;
}
#header-sroll .responsive-menu{
    display: none;
}
#header-sroll .responsive-menu .botao{
    margin-top: 0;
}
#header-sroll .responsive-menu .botao a{
    opacity: 0;
    position: absolute;
    top: 0;
    right: -600px;
    transition: all .5s ease;
    margin-top: 8px;
    font-size: 13px;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    display: none;
}
#header-sroll.small .responsive-menu .botao a{
    opacity: 1;
    right: 0;
}
#header-sroll .menu-one .botao {
    margin-top:0;
}
#header-sroll .menu-one .botao a{
    opacity: 0;
    position: fixed;
    top: 0;
    right: -600px;
    transition: all .5s ease;
    margin-top: 8px;
    font-size: 13px;
    padding: 10px;
    border-radius: 10px;
}
#header-sroll.small .menu-one .botao a{
    opacity: 1;
    right: -6px;
}
#header-sroll{
    width: 100%;
    float: left;
    z-index: 999;
    /* overflow: hidden; */
}
.header .logo span{
    margin-top: 19px;
    margin-bottom: 10px;
    display: table;
    width:100%;
}
.header .logo h1{
    margin-top: 10px;
}
#header-sroll.small{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: rgba(255,255,255,1);
    position: fixed;
    top: 0;
}
#header-sroll .box-menu{
    float: left;
    width: 100%;
    background-color: #739c6c;
}
#header-sroll .box-menu .logo-adn{
    display: none;
}
#header-sroll.small .box-menu{
    margin-top: 0px;
    background-color: #fff;
}
#header-sroll.small .box-menu .logo-adn{
    position: relative;
    width: 150px;
    display: inline-block;
    float: left;
    text-align: left;
}
#header-sroll.small .box-menu .logo-adn .siteLogo{
    position: absolute;
    width: 100%;
    margin-top: 13px;
    z-index: 9;
}
.menu-one{
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
}
.menu-one ul{
    padding: 0;
    margin: 0 auto;
    float: none;
    display: table;
}
.menu-one ul li{
    position: relative;
    list-style: none;
    float: left;
}
.menu-two {
    float: left;
}
#header-sroll .menu-one ul li a,
#header-sroll .menu-one ul li span{
    font-family: 'calibri_bold';
    text-transform: uppercase;
    display: inline-block;
    font-size: 19px;
    padding: 15px 7px;
    color: #fff;
    margin: 0 40px;
}
#header-sroll .menu-one ul li span{
    color: #747474;
    border:2px solid #747474;
    border-radius: 5px;
}

#header-sroll.small .menu-one ul{
    text-align: center;
    float: none;
}
#header-sroll .menu-one ul li a:hover{
    color: #0f602c;
}
#header-sroll.small .menu-one ul li a{
    color: #739c6c;
    margin-left: 10px;
    margin-right: 10px;
}
#header-sroll.small .menu-one ul li a:hover,
#header-sroll.small .menu-two ul li a:hover{
    color: #0D485A;
}
#header-sroll .menu-one ul li a:before,
#header-sroll .menu-two ul li a:before{
    top: 15px;
    left: 50%;
    color: transparent;
    content: '•';
    text-shadow: 0 0 transparent;
    font-size: .8em;
    -webkit-transition: text-shadow 0.3s, color 0.3s;
    -moz-transition: text-shadow 0.3s, color 0.3s;
    transition: text-shadow 0.3s, color 0.3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
    position: relative;
}
#header-sroll .menu-one ul li a:hover::before,
#header-sroll .menu-two ul li a:hover::before{
    color: #0f602c;
    text-shadow: 10px 0 #0f602c, -10px 0 #0f602c;
}
.logo{
    float: left;
    width: auto;
}
.header .logo a.siteLogo{
    display: block;
    margin: 0px auto;
    width: 100%;
    color: transparent;
    z-index: 8;
    position: relative;
}
.header .logo a img{
    width:100%;
    height:100%;
}
#header-sroll.small .logo a.siteLogo{
    height: 48px;
    background-size: contain;
}
#header-sroll .control-index{
    width:100%;
    float: left;
    z-index: 5;
    background-color: #739c6c;
}

#header-sroll.small .control-index{
    background-color: #fff;
    width: 100%;
    position: absolute;
    z-index: 9;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.tel-header{
    margin-left: 5px;
}
.menu-two ul{
    padding: 0;
    float: left;
}
.menu-two ul li{
    list-style: none;
    float: left;
}
/* HAMBURGER */
.hamburger-menu{
    display: none;
}

/* FOOTER */
.footer{
    float: left;
    width: 100%;
    background-color: #454545;
    position: relative;
    color:#fff;
    padding:30px 0;
}
.footer .ouvidoria{
    margin-top:40px;
}
.footer .logo-footer {
    text-align: center;
}
.footer .logo-footer hr{
    margin:10px 0;
}
.footer .logo-footer img{
    width:50%;
}
.footer .podemos-ajudar{
    margin-top:40px;
    text-align: right;
}
.footer .menu{
    list-style: none;
    padding-left: 0;
}
.footer .menu a{
    color:#fff;
}
.footer .menu a:hover{
    color:#739c6c;
}

/* OUTRAS PARTES COMUNS */
/* Título comum */
.head-title,
.head-title .page-name{
    float: left;
    width: 100%;
}
.head-title .page-name{
    padding-top: 125px;
}
.head-title .page-name h1{
    text-transform: uppercase;
    font-size: 29px;
    color: #19A6B8;
}
#breadcrumbs a,
#breadcrumbs span{
    color: #aeaeae;
    text-transform: uppercase;
    font-size: 13px;
}
#breadcrumbs a:hover{
    color: #19A6B8;
}





/* MEDIA QUERIES */
@media (max-width: 1366px){
    .footer .bg-left{
        width: 300px;
        background-position-x: 100%;
    }
    #header-sroll .menu-one .botao a{
        position: fixed;
        border-radius: 10px 0 0 10px;
    }
}
@media (max-width: 1280px){
    .footer .bg-right{
        background-position-x: 290%;
    }
}
@media (max-width: 1199px){
    #header-sroll.small .menu-one ul{
        text-align: right;
        float: none;
    }
    #header-sroll.small .menu-one ul li a{
        color: #739c6c;
        margin-right: 5px;
        margin-left: 5px;
    }
}
@media (max-width: 1199px){
    #header-sroll .responsive-menu{
        display: block;
    }
    #header-sroll .menu-one ul li a, #header-sroll .menu-one ul li span{
        font-size: 15px;
    }

    #header-sroll.small .logo .logo-adn {
    }
    .menu-one{
        display: none;
    }
    .hamburger-menu{
        display: block;
    }
    #header-sroll .hamburger-menu,
    #header-sroll .bar,
    #header-sroll .bar.animate,
    #header-sroll .bar span{
        -webkit-transition: all .35s ease-in-out;
        -moz-transition: all .35s ease-in-out;
        -ms-transition: all .35s ease-in-out;
        -o-transition: all .35s ease-in-out;
        transition: all .35s ease-in-out;
    }
    #header-sroll .hamburger-menu {
        bottom: 0;
        height: 60px;
        cursor: pointer;
        position: relative;
        float: right;
        top: 3px;
        z-index: 9;
    }
    #header-sroll .bar,
    #header-sroll .bar:after,
    #header-sroll .bar:before {
        width: 34px;
        height: 3px;
    }
    #header-sroll .bar {
        position: relative;
        transform: translateY(25px);
        background: #fff;
        color: #fff;
    }
    #header-sroll .bar.animate {
        background: rgba(255, 255, 255, 0);
    }
    #header-sroll .bar:before {
        -webkit-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        -moz-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        -ms-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        -o-transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        content: "";
        position: absolute;
        left: 0;
        bottom: 10px;
        background: #fff;
    }
    #header-sroll .bar:after {
        -webkit-transition :top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        -moz-transition :top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        -ms-transition :top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        -o-transition :top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1), background .35s ease-in-out;
        content: "";
        position: absolute;
        left: 0;
        top: 10px;
        background: #fff;
    }
    .box-menu .logo-adn{
        display: none;
    }
    #header-sroll.small .bar.animate{
        background-color:#fff;
    }
    #header-sroll.small .bar {
        background-color:#739c6c;
    }
    #header-sroll.small .bar:before {
        background-color:#739c6c;
    }
    #header-sroll.small .bar:after {
        background-color:#739c6c;
    }
    #header-sroll .bar.animate:after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #header-sroll .bar.animate:before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #header-sroll .bar span{
        right: 60px;
        font-family: 'DroidSansBold';
        color: rgba(255, 255, 255, 0);
        position: relative;
        bottom: 13px;
        font-size: 16px;
    }
    #header-sroll.small .bar span{
        color: #333;
    }
    #header-sroll.show-menu{
        height: 100%;
        background-color: rgba(255,255,255,.95);
    }
    #header-sroll.show-menu.small .bar.animate:before,
    #header-sroll.show-menu.small .bar:after{
        background: #739c6c;
    }
    #header-sroll.show-menu .responsive-menu{
        margin-top: 0;
        background-color: #739c6c;
        width: 100%;
        position: absolute;
        z-index: 8;
        height: 100%;
        top: 0;
    }

    #header-sroll .bx-menu{
        -webkit-transition: all .8s ease-in-out;
        -moz-transition: all .8s ease-in-out;
        -ms-transition: all .8s ease-in-out;
        -o-transition: all .8s ease-in-out;
        transition: all .8s ease-in-out;
        padding-top: 10%;
        position: fixed;
        height: 0vh;
        width: 100%;
        top: -150vh;
    }
    #header-sroll.show-menu .bx-menu{
        width: 100%;
        height: 100vh;
        float: left;
        position: fixed;
        display: block;
        z-index: 10;
        background: #739c6c;
        top: 0;
        margin-top: 116px;
    }
    #header-sroll.small.show-menu .bx-menu{
        margin-top:0;
        padding-top:150px;
    }
    #header-sroll .responsive-menu .bx-menu ul{
        padding: 0;
    }
    #header-sroll .responsive-menu .bx-menu ul li{
        list-style: none;
        float: left;
        width: 100%;
        margin-bottom: 15px;
    }
    #header-sroll .responsive-menu .bx-menu ul li a{
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        opacity: 0;
    }
    #header-sroll .responsive-menu .bx-menu ul li a{
        text-transform: uppercase;
        font-size: 22px;
        text-align: center;
        display: table;
        opacity: 1;
        color: #fff;
        padding: 5px;
        margin: auto;
        font-family: 'calibri_bold';
    }
    #header-sroll .responsive-menu .bx-menu ul li a:hover{
        color: #498ACA;
    }
    #header-sroll .responsive-menu .bx-menu ul li.current_page_item a{
        color: #498ACA;
    }
    #header-sroll.small .responsive-menu .botao{
        text-align: center;
    }
    #header-sroll.small .responsive-menu .botao a{
        background-color: #fff;
        color: #739c6c;
        position: relative;
        border-radius: 10px;
    }
    #header-sroll.small .responsive-menu .botao a:hover{
        background-color: #739c6c;
        color: #fff;
        border-color:#fff;
    }
    #header-sroll.small .box-menu{
        z-index: 999;
        position: relative;
    }
    #header-sroll .responsive-menu .botao a{
        display: inline-block;
    }

    .footer .ouvidoria{
        text-align: center;
        margin-bottom: 40px;
        margin-top:0;
    }
    .footer .podemos-ajudar{
        text-align: center;
    }
    .footer .logo-footer hr{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 991px){

    .logo {
        width: 200px;
    }
    .header .logo a.siteLogo {
        width: 190px;
    }
    #header-sroll.small .menu-one ul li a{
        margin: 14px 0px !important;
    }
    .atendimento{
        display: none;
    }
    .chamada-header{
        text-align: right;
    }
}
@media (max-width: 767px){
    #header-sroll.show-menu .bx-menu{
        margin-top:195px;
    }
    .chamada-header{
        text-align: center;
    }
    .logo{
        width: 100%;
    }

}
@media (max-width: 480px){
    #header-sroll.show-menu .bx-menu{
        margin-top:0;
        padding-top:150px;
    }
}
@media (max-width: 360px){
    .chamada-header .botao a{
        font-size: 15px;
    }
    .botao a, .botao button{
        font-size: 15px;
    }
}


/* BOOTSTRAP QUERIES */
@media (min-width: 768px){
    .my-container {
        width: 750px;
    }
}
@media (min-width: 992px){
    .my-container {
        width: 970px;
    }
}
@media (min-width: 1200px){
    .my-container {
        width: 1170px;
    }
}
@media (min-width: 1367px){
    .my-container {
        width: 1300px;
    }
}
